<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{base :: header(~{this ::title})}">
    <title>Пользователи</title>
</head>
<body>
    <div class="main" th:replace="~{base :: layout(~{this ::main}, ${authUser})}">
        <main>
            <div class="container">
                <table class="table table-primary table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">GitHub ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Роль</th>
                            <th scope="col">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user: ${users}">
                            <td th:text="${user.id}" />
                            <td th:text="${user.githubId}" />
                            <td th:text="${user.name}" />
                            <td th:text="${user.role.name}" />
                            <td>
                                <form th:if="${user != null && user.role.name != 'ROLE_ADMIN'}" action="#" th:object="${user}" th:action="@{/admin/assignAdminRole/{id}(id=${user.id})}" th:method="get">
                                    <button type="submit" class="btn btn-success">Назначить админом</button>
                                </form>

                                <form action="#" th:object="${user}" th:action="@{/admin/users/{id}(id=${user.id})}" th:method="delete">
                                    <button type="submit" class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>